<h1>Editing Criteria Impact Definition</h1>

<%= render 'form', criteria_impact_definition: @criteria_impact_definition %>

<%= link_to 'Show', @criteria_impact_definition %> |
<%= link_to 'Back', criteria_impact_definitions_path %>
