<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper bgcolortest ">			 
			<%if user_signed_in?%>
				<%= render 'layouts/shared/useron' %>	
			<%else%>	
				<%= render 'layouts/shared/useroff' %>
			<% end %>
		</div>
	</nav>
</div>

<%=  render 'layouts/shared/sidenav' if user_signed_in? %>