  <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
  
  <%= link_to 'Intranet', root_path, class:'brand-logo' %>
  <ul id="nav-mobile" class="right hide-on-med-and-down">				
    <li>      
      <a href="#email"><span class="white-text email"><%= current_user.login %></span></a>
    </li>				
  </ul>

