<h1>Editing Credit Line Setting</h1>

<%= render 'form', credit_line_setting: @credit_line_setting %>

<%= link_to 'Show', @credit_line_setting %> |
<%= link_to 'Back', credit_line_settings_path %>
