<div class="container">
    <h3>Import Data</h3>
    <%= form_tag import_home_index_path, multpart: true do%>
        <%= file_field_tag :file%>
        <%= submit_tag "Importar CSV"%>
    <% end %>
</div>