
<%10.times do %>
    <div class="row">
      <div class="col m8 offset-m2">
        <div class="row">
          <div class="card">
            <div class="card-image">
              <%= image_tag  "/img/relatorio.jpg", class:'materialboxed responsive-img' %>
              <span class="card-title">Card Title</span>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
