
<div id="edit_event" class="modal">
  <div class="modal-content">
    <h4>Editar Evento</h4>
    <p><%= render 'form', event: @event %></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>

