<div id="new_event" class="modal">
  <div class="modal-content">
    <h4>New Event</h4>
    <p><%= render 'form', event: @event %></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>


