<h1>Events</h1>
<div class="container">
  <div class="calendar"></div>
</div>
<br>

<select class="select-test">
  <option value="" disabled selected>Choose your option</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>