<div id="edit_status" class="modal">
  <div class="modal-content">
    <h4>Atender Requisição</h4>
    <p><%= render 'status_form', requisition: @requisition %></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>