<h1>Nova Proposta</h1>

<%= render 'form', requisition: @requisition %>

<div class='row'>
  <div class="col s12 m6 offset-m11" >
    <%= link_to 'Voltar', requisitions_path, class:'waves-effect waves-light btn' %>
  </div>
</div>