development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: database-name
  pool: 5
  username: postgres-user
  password: password

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: database-name-dev
  pool: 5
  username: postgres-user
  password: password