
<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">cake</i>
      Aniversariantes
      <span class="new badge grey darken-1" data-badge-caption="Mes">6</span>
      <span class="new badge" data-badge-caption="Hoje">2</span>      
    </div>
    <div class="collapsible-body colapsible-remove-margin">
     <ul class="collection">
      <li class="collection-item">
        <div class="chip">
          <img src="https://bgcburbank.org/wp-content/uploads/2017/09/Blank-Avatar.jpg" alt="Contact Person">
          Chrystiam Andrade          
        </div>         
      </li>      
      <li class="collection-item">
        <div class="chip">
          <img src="https://bgcburbank.org/wp-content/uploads/2017/09/Blank-Avatar.jpg" alt="Contact Person">
          Chrystiam Andrade          
        </div>         
      </li>      
      <li class="collection-item">
        <div class="chip">
          <img src="https://bgcburbank.org/wp-content/uploads/2017/09/Blank-Avatar.jpg" alt="Contact Person">
          Chrystiam Andrade          
        </div>         
      </li>      
    </ul>
    </div>
  </li>  
</ul>
