<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">date_range</i>Agenda</div>
    <div class="collapsible-body colapsible-remove-margin">                
      <div class="calendar-list"></div>        
    </div>
  </li>
</ul>