<ul class="collapsible">
  <li>    
    <div class="collapsible-header"><i class="material-icons">directions_run</i>Acesso rapido</div>			
      <div class="collapsible-body colapsible-remove-margin">
        <ul class="collection">
          <li class="collection-item"><%= link_to  "Crediminas", 'http://google.com.br/' %></li>
          <li class="collection-item"><%= link_to  "Crediminas", 'http://google.com.br/' %></li>
          <li class="collection-item"><%= link_to  "Crediminas", 'http://google.com.br/' %></li>
          <li class="collection-item"><%= link_to  "Crediminas", 'http://google.com.br/' %></li>          
        </ul>    
      </div>
    </div>
  </li>
</ul>
  
