<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
     <%= image_tag  @lastposts.sample.image.url, class:'activator' %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><h4>Noticias</h4></span>
      <p>Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on..</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><h4>Noticias</h4><i class="material-icons right">close</i></span>
      <h5>teste</h5>
      <p>Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
</div>