<div class="card">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Marketing</h4></li>
    <% @lastnormatives.each do |norm| %>
      <li class="collection-item">
        <div>
          <%= norm.title %>
          <%= link_to url_for(norm.file), download:'', class:"secondary-content" do%>
            <i class="material-icons">cloud_download</i>
          <% end %>	
          
        </div>
      </li>
    
    <% end %>
  </ul>
</div>

      