<div class="card">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Normativos</h4></li>
    <li class="collection-item"><div>Normativo 01<a href="#!" class="secondary-content"><i class="material-icons">cloud_download</i></a></div></li>
    <li class="collection-item"><div>Normativo 02<a href="#!" class="secondary-content"><i class="material-icons">cloud_download</i></a></div></li>
    <li class="collection-item"><div>Normativo 03<a href="#!" class="secondary-content"><i class="material-icons">cloud_download</i></a></div></li>
    <li class="collection-item"><div>Normativo 04<a href="#!" class="secondary-content"><i class="material-icons">cloud_download</i></a></div></li>
  </ul>
</div>