<div class="card">
 				<div class="card-image">
          <img src="https://static8.depositphotos.com/1015296/895/v/950/depositphotos_8953664-stock-illustration-leader-of-competition.jpg">
          <span class="card-title">Card Title</span>
        </div>
								
		<ul class="collapsible">
			<li>
				<div class="collapsible-header"><i class="material-icons">filter_drama</i>Serviços</div>
				<div class="collapsible-body"><span><%= render 'home/shared/sales' %></span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">place</i>Produtos</div>
				<div class="collapsible-body"><span><%= render 'home/shared/sales' %></span></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">whatshot</i>Geral</div>
				<div class="collapsible-body"><span><%= render 'home/shared/sales' %></span></div>
			</li>
		</ul>		
	
</div>
            