/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";

.bgcolortest{
    background-color: #003641;
    color: aliceblue;
}

.btn .bgcolortest{    
    color: aliceblue;
}

.resize{
    max-width: 100em;
    max-height: 100px;
}


.slider .indicators .indicator-item.active {
    background-color: #003641;
    
}

.slider{
    margin-top: 8px;
    height: 31rem;
}

.colapsible-remove-margin{
    margin: 0px;
    padding: 0px;
}
.collection .collection-item.avatar{
   padding-top: 6px;
   min-height: 57px
}

.adjust-collapsible-header{
    padding: 10px 15px;
}