// Place all the styles related to the requisitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field textarea{
    min-height: 20em;
}

table.striped > tbody > tr:nth-child(even) {
    background-color: rgba(0, 54, 65, 0.5);
}

table > tbody > tr > td > a {
    color: #006573;
    font-weight: bold;
}

.requisitions-index{
    padding: 0 !important; 
}

.container-requisitions{
    margin-left: 0.5em;
    margin-right:0.5em;
}

.message-details{
    font-size: 0.8em;
}

th .asc::after {
    content: "\25b4 ";
    color: "#b3b3b3";
}
  
th .desc::after {
   
    content: "\25be ";
    color: "#b3b3b3" !important;
}
.dropdown-content li > a, .dropdown-content li > span{
    font-size: 0.9em !important;
    color: #006573 !important;;
    font-weight: 90;
}

.requisitions-index a{
    color: #006573;
}


.pagination li.active{
    background-color: #006573 !important;
}
td, th {
    padding: 5px !important;
}

thead>td,th {
    background-color: lavender;
    padding: 15px 5px!important;
    border-radius: 0px !important;
}