<div class="container">
  <div class="row">
    <% @reports.each do |report|%>
      <% report.report_image_data.each do |image|%>
        <%if  image.location_id == 2 %>
          <p> <%= image_tag image.image, class:'materialboxed responsive-img' %> </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

